.channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.channel .metadata {
  display: flex;
  align-items: center;
  padding: var(--spacing-small) 0;
}

.channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin-right: var(--spacing);
}

.channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.channel .metadata .info .name {
  font-size: var(--font-medium);
}

.channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.channel .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
  font-size: var(--font-medium);
}
